.destinations {
  padding: 5rem 2rem;
  background-color: #f9f9f9;
  width: 100vw;
}

.destinations h2 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 3rem;
}

.destinations-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.destination-card {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.destination-card:hover {
  transform: translateY(-5px);
}

.destination-card h3 {
  color: #2c3e50;
  margin-bottom: 1rem;
}

.destination-card p {
  color: #666;
}

.destination-card img{
  width: 15vw;
  aspect-ratio: 1;
}
