.service-details {
  padding: 6rem 2rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100vw;
}

.service-details h1 {
  color: #2c3e50;
  margin-bottom: 2rem;
  text-align: center;
}

.service-options, .service-vehicles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-bottom: 3rem;
}

.service-option, .vehicle-option {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.service-option h3, .vehicle-option h3 {
  color: #2c3e50;
  margin-bottom: 1rem;
}

.service-option p, .vehicle-option p {
  color: #666;
  margin-bottom: 1rem;
}

.service-options img{
  width: 35vw;
  height: inherit;
}

.service-option ul {
  list-style-type: none;
  padding-left: 0;
}

.service-option li {
  color: #666;
  margin: 0.5rem 0;
  padding-left: 1.5rem;
  position: relative;
}

.service-option li:before {
  content: "→";
  color: #3498db;
  position: absolute;
  left: 0;
}

.service-images{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  padding: 10px;
  margin: 0 20px;
  margin-left: 40px;
}

.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease, z-index 0.3s ease;
  cursor: pointer;
}

.grid-item:hover img {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ; /* Adjust scale as needed */
  width: 20vw; /* Cover 50% of the window width */
  height: 20vh; /* Cover 50% of the window height */
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.grid-item:hover {
  position: relative;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2.5); /* Adjust scale as needed */
  width: 20vw; /* Cover 50% of the window width */
  height: 20vh; /* Cover 50% of the window height */
}